<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/img/favicon/apple-touch-icon.png" | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/favicon/favicon-32x32.png" | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/img/favicon/favicon-16x16.png" | url }}">
<link rel="manifest" href="{{ "/img/favicon/site.webmanifest" | url }}">
<link rel="mask-icon" href="{{ "/img/favicon/safari-pinned-tab.svg" | url }}" color="#292524">
<meta name="msapplication-TileColor" content="#292524">
<meta name="theme-color" content="#292524">