export PERSONAL_ADDRESS=""
export PERSONAL_PHONE=""
export PERSONAL_MAIL=""
export PERSONAL_ACTUAL_VACATION_DATE=""
export PERSONAL_VACATION_DATE=""
export EXTERNAL_VACATION_DATE=""
export ANOTHER_VACATION_DATE=""

export CV_HTACCESS_USER_01=""
# insert users for cv passwords here
# for my webhost, https://phppasswordhash.com/ works fine (https://www.php.net/manual/en/function.password-hash.php)
# escape to bash with: https://onlinelinuxtools.com/escape-shell-characters 
export CV_HTACCESS_PASSWORD_01=""
export CV_HTACCESS_USER_02=""
export CV_HTACCESS_PASSWORD_02=""