---
title: CV
layout: layouts/minimal.njk
templateEngineOverride: njk,md
---

{% set me_image = "src/images/me/3.jpg" | sharp %}
{% set project_fotohaecker = "src/images/project_fotohaecker.png" | sharp %}
{% set project_rundgang_hsfl = "src/images/project_rundgang_hsfl.png" | sharp %}
{% set project_accessible_components = "src/images/project_accessible_components.png" | sharp %}
{% include "cv/download_header.njk" %}
<div id="cv">
    {% include "cv/page01_introduction.njk" %}
    {% include "cv/page02_projects.njk" %}
</div>