<div>
    <nav>
        <p>menu</p>
        <ul class="menu">
            <li class="col-span-5">
                <a class="" href="https://blog.fschoenfeldt.de/" rel="noopener noreferrer" title="my blog">
                    blog
                    <div aria-hidden="true">blog.fschoenfeldt.de</div>
                </a>
            </li>
            <li class="col-span-2">
                <a class="" href="mailto:frederikschoenfeldt@gmail.com">
                    hello
                    <div aria-hidden="true">frederikschoenfeldt@gmail.com</div>
                </a>
            </li>
            <li class="col-span-5">
                <a class="" href="/fotohaecker" title="learn more">
                    fotohäcker
                    <div aria-hidden="true">learn more</div>
                </a>
            </li>
            <li class="col-span-5">
                <a class="" href="https://soundcloud.com/frederikschoenfeldt" rel="noopener noreferrer" title="my tunes">
                    tunes
                    <div aria-hidden="true">soundcloud</div>
                </a>
            </li>
            <li class="col-span-7">
                <a class="" href="/gallery" rel="noopener noreferrer" title="my photos">
                    photography
                    <div aria-hidden="true">gallery</div>
                </a>
            </li>
        </ul>
    </nav>
</div>