<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} – Frederik Schönfeldt</title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{ description }}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta name="generator" content="Eleventy"/>
    <link rel="stylesheet" href="{{ hash['/css/styles.css'] | url }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Merriweather&display=swap" rel="stylesheet">
    <script defer src="{{ hash['/js/scripts.js'] | url }}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      type="text/plain"
      data-cookiecategory="analytics"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-51WZFYSLT7"></script>
    <script type="text/plain" data-cookiecategory="analytics">
      window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date());
      gtag('config', 'G-51WZFYSLT7');
    </script>
    {% block head %}{% endblock %}
  </head>
  <body class="antialiased">
    <div class="max-w-6xl mx-auto">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </div>
  </body>
</html>