<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta name="generator" content="Eleventy" />

    <link rel="stylesheet" href="{{ hash['/css/styles.css'] | url }}"/>
    <script defer src="{{ hash['/js/scripts.js'] | url }}"></script>

    {% block head %}{% endblock %}
  </head>
  <body class="antialiased">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>
