<footer class="footer mt-24 p-10 bg-neutral text-neutral-content flex flex-row justify-between rounded-md">
        <div>
            <p>Copyright © 2023 Aleksandr Zapparov<br/>All Rights Reserved</p>
        </div>
        <div>
            <div class="grid grid-flow-col gap-4">
                <a class="" target="_blank" href="https://github.com/zapalblizh">{% svg "github-logo" %}</a>
                <a class="" target="_blank" href="https://www.linkedin.com/in/aleksandr-zapparov-7b3202255/">{% svg "linkedin-logo" %}</a>
            </div>
        </div>
</footer>
<div class="h-20"></div>
