<div class="fixed z-10 top-10 left-0 w-full">
    <div class="px-8 max-w-7xl mx-auto">
        <div class="navbar w-full bg-neutral text-neutral-content rounded-md">

            <div class="navbar-start">
                <div class="dropdown">
                    <label id="open_burger_menu" tabindex="0" class="btn btn-ghost btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                    </label>
                    <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-neutral rounded-box w-52">
                        <li><a href="/">About Me</a></li>
                        <li><a href="/contacts/">Contacts</a></li>
                        <li><a href="/achievements/">My Achievements</a></li>
                    </ul>
                </div>
            </div>

            <div class="navbar-center">
                <a href="https://zapparov.co.uk/" class="btn btn-ghost normal-case text-xl">AZ</a>
            </div>

            <div id="onclick_toggle_theme" class="navbar-end">
                <button class="btn btn-ghost btn-circle" title="Toggle to Dark Theme" x-show="!theme.dark" @click="toggleTheme()">
                    <span class="sr-only">Dark Theme</span>
                    {% svg "moon", "w-6 h-6" %}
                </button>
                <button class="btn btn-ghost btn-circle" title="Toggle to Light Theme" x-cloak x-show="theme.dark" @click="toggleTheme()">
                    <span class="sr-only">Light Theme</span>
                    {% svg "sun", "w-6 h-6" %}
                </button>
            </div>

        </div>
    </div>
</div>

<div class="h-40"></div>