<div x-data="{ expanded: true }" 
     x-show="expanded"
     class="print:hidden flex bg-gray-800 cursor-pointer border-b border-b-gray-600">
    <div @click="window.print()"
         @keydown.enter="window.print()"
         tabindex="0"
         class="flex items-center gap-2 p-2 md:p-4 w-full hover:bg-gray-600 active:bg-gray-500 transition-all text-gray-200">
        <span class="material-icons text-gray-200" aria-hidden="true">
            print
        </span>
        Hier klicken, um das Dokument auszudrucken oder als PDF zu speichern
    </div>
    <span class="material-icons text-gray-200 ml-auto p-4 m-1 md:p-2 md:m-2 hover:bg-gray-600 active:bg-gray-500 rounded-full h-max" 
          @click="expanded = false"
          tabIndex="0">
        close
    </span>
</div>