@import "../../node_modules/vanilla-cookieconsent/dist/cookieconsent.css";

/* make all buttons same to be gdpr compliant */
#c-bns button,
#s-bns button {
  color: #fff;
  color: var(--cc-btn-primary-text);
  background: #253b48;
  background: var(--cc-btn-primary-bg);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-gray-800 font-serif;
  }
  h1 {
    @apply font-heading text-4xl;
  }
  a {
    @apply text-blue-700 hover:text-blue-900;

    &.external {
      @apply inline-flex items-center gap-0.5;
      svg {
        @apply inline-block fill-blue-700;
      }
      &:hover {
        svg {
          @apply fill-blue-900;
        }
      }
    }
  }
}

@layer components {
  .thick-heading {
    @apply text-[30vw] md:text-12xl uppercase break-all leading-none;
  }
  .menu {
    @apply flex flex-col gap-2;
    @screen md {
      @apply grid;
      grid-template-columns: repeat(12, 1fr);
    }
    li {
      @apply bg-gray-800 hover:bg-gray-700 transition-colors text-white rounded;
      a {
        @apply flex flex-col justify-between p-4 w-full md:h-60 break-all text-white;
      }
      div {
        @apply text-white;
      }
    }
  }
  #fotohaecker {
    @apply flex flex-col gap-2 sm:grid h-full sm:max-w-2xl lg:max-w-4xl xl:max-w-6xl self-center mx-auto;
    @screen sm {
      grid-template-columns: 1fr 2fr;
    }
  }
  #fotohaecker-heading {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#4faecc),
      color-stop(#469abc),
      to(#347884)
    );
    background-image: linear-gradient(90deg, #4faecc, #469abc, #347884);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @apply pt-6 sm:text-10xl lg:text-[12rem] xl:text-[17rem];
  }
  .skills-list {
    li {
      @apply inline-block bg-blue-600 text-white rounded-lg px-1 font-sans font-bold text-sm;
    }
  }
}
