---
title: Photo Gallery
description: a little photo gallery
layout: layouts/base.njk
---

{% set image = "src/images/example.jpg" | sharp %}

<img src="{% getUrl image | resize({ width: 1440 }) | webp  %}" />

hello gallery !