<div :aria-hidden="$store.manager.modalVisible">
    <ul class="ressources" :class="{ 'ressources--changing' : $store.manager.changeVisibility }">
        <template x-for="r in $store.manager.ressources">
            <template x-if="r.visible || $store.manager.changeVisibility">
                <li class="ressources__item" 
                    :class="{ 'ressources__item--change' : !r.visible}"
                    :id="`ressource__item_${$store.manager.ressourceToSafeName(r.name)}`">
                    <button @click="r.visible && !$store.manager.changeVisibility ? $dispatch('showaddpricemodal', {name: r.name}) : $store.manager.toggleRessourceVisibility(r)"
                            :aria-label="
                            if ($store.manager.changeVisibility) {
                                if (r.visible) {
                                    return `hide ${r.name} in price list`
                                } else {
                                    return `show ${r.name} in price list`
                                }
                            } else {
                                return `show information for ${r.name}`
                            }
                            ">
                        <div class="py-2 text-center" :class="{ 'mt-auto' : !$store.manager.changeVisibility && r.priceHistory.length}">
                            <img alt="" class="inline" :src="r.path"/>
                            <div x-text="r.name" aria-hidden="true"></div>
                        </div>
                        <template x-if="r.priceHistory.length && !$store.manager.changeVisibility" x-data="{logExpanded: false}">
                            <ul class="ressources__item__priceinfo">
                                <li class="w-full flex justify-between items-center px-2 py-0.5">
                                    <div class="sr-only" x-text="`price information for ${r.name}`"></div>
                                    <div :aria-label="r.min && `minimum price: ${r.min}`">
                                        <span aria-hidden="true" 
                                              x-text="r.min && `↓${r.min}`"></span>
                                    </div>
                                    <div :aria-label="r.average && `average price: ${r.average}`">
                                        <span aria-hidden="true"
                                              x-text="r.average && `⌀${r.average}`"></span>
                                    </div>
                                    <div :aria-label="r.max && `maximum price: ${r.max}`">
                                        <span aria-hidden="true"
                                              class="!text-amber-200 text-lg font-bold" 
                                              x-text="r.max && `↑${r.max}`"></span>
                                    </div>
                                </li>
                                <template x-if="logExpanded">
                                    <template x-for="h in r.priceHistory">
                                        <li x-text="h.value"></li>
                                    </template>
                                </template>
                            </ul>
                        </template>
                    </button>
                </li>
            </template>
        </template>
        <li class="ressources__item ressources__item--add">
            <button @click="$store.manager.onClickToggleChangeVisibility" 
                    x-text="$store.manager.changeVisibility ? '-' : '+'" 
                    :aria-label="$store.manager.changeVisibility ? 'stop showing all ressources and get back to price list' : 'show all ressources and change their visibility in this list'"
                    data-testid="toggleRessourceVisibility"></button>
        </li>
    </ul>
</div>