---
permalink: 'a4docs/.htaccess'
eleventyExcludeFromCollections: true
---
AuthUserFile /www/htdocs/w0176b1a/fschoenfeldt.de/cv/.htpasswd
AuthGroupFile /dev/null
AuthName 'please login'
AuthType Basic
require valid-user