---
title: Aleksandr Zapparov
description: Yet Another Tailwind Alpine Starter Project for 11ty!
layout: layouts/base.njk
permalink: /about/
---

<div class="text-center py-32 m-auto">
    <h1>My name is Aleksandr Zapparov</h1>

    <p>A learner aspiring to become a computer games programmer or software engineer.</p>
    <p>I've learned how to create websites using HTML, CSS and Javascript and I know how to create videogames using Python</p>
    <p>I enjoy playing chess and challenging myself with very hard puzzles in my free time</p>

</div>