---
title: Aleksandr Zapparov
description: Yet Another Tailwind Alpine Starter Project for 11ty!
layout: layouts/base.njk
permalink: /achievements/
---
<div class="px-6 py-24 rounded-md bg-base-200 p-12">
    <div class="text-center m-4">
        <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">My Certificates</p>
    </div>
    <div class="w-full grid sm:grid-cols-2 md:grid-cols-3 gap-12 rounded-md">
        {%- for item in certificates -%}
            <div x-data="{ open: false }"
                 x-on:keydown.escape.prevent.stop="open = false"
                 class="flex w-full">

                <!-- Trigger -->
                <div class="w-full rounded-md shadow-lg bg-white bg-opacity-50 grid grid-cols-4 gap-4 select-none cursor-pointer border-4 border-blue-300 italic shadow-inner p-4" x-on:click="open = true">
                    <div>
                        <div class="p-2 rounded-full shadow-lg bg-white aspect-square text-blue-400 flex justify-center items-center">
                            {% if item.issuer == 'IBM' %}
                                {% svg "ibm-logo-svgrepo-com", "w-full" %}
                            {% else %}
                                {% svg "certificate", "max-w-full w-10 h-10" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-span-3 flex flex-col gap-4">
                        <p>{{ item.name }}</p>
                        <p class="mb-0 text-xs">Earned {{ item.issueDate | postDate }}</p>
                    </div>
                </div>

                <!-- Modal -->
                <div
                        x-show="open"
                        style="display: none"
                        role="dialog"
                        aria-modal="true"
                        x-id="['modal-title']"
                        :aria-labelledby="$id('modal-title')"
                        class="fixed inset-0 z-10 overflow-y-auto"
                >
                    <!-- Overlay -->
                    <div x-show="open" x-transition.opacity class="fixed inset-0 bg-black bg-opacity-50"></div>

                    <!-- Panel -->
                    <div x-show="open" x-transition
                         x-on:click="open = false"
                         class="relative flex min-h-screen items-center justify-center p-4">
                        <div x-on:click.stop
                             x-trap.noscroll.inert="open"
                             class="relative w-full max-w-2xl overflow-y-auto rounded-xl bg-base-200 p-12 shadow-lg">
                            <!-- Title -->

                            <!-- Content -->
                            <div class="gap-2">
                                <a target="_blank" href="{{ item.link }}"><figure><img src="/img/certificates/{{ item.img }}" alt="{{ item.name }}" /></figure></a>
                                <p class="text-center text-sm">Verify at: <a class="link text-blue-400 cursor-pointer" target="_blank" href="{{ item.link }}">{{ item.link }}</a></p>
                            </div>
                            <!-- Buttons -->
                            <span class="absolute top-2 right-2 cursor-pointer btn btn-ghost btn-circle" x-on:click="open = false">
                                {% svg "x", "w-5 h-5" %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

