---
title: Aleksandr Zapparov
description: Yet Another Tailwind Alpine Starter Project for 11ty!
layout: layouts/base.njk
permalink: /contacts/
---

<div class="hero min-h-screen bg-base-200 rounded-md">

    <div class="hero min-h-screen bg-base-200 rounded-md">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="pl-48">
                <img src="/img/zapalblizh.jpeg" alt="Picture of Learner" class="max-w-sm rounded-lg shadow-2xl" />
            </div>
            <div class="gap-y-6">
                <h1 class="text-5xl font-bold">My Contacts:</h1>
                <div class="py-6">
                    <ul role="list" class="mt-8 space-y-8">

                        <li class="flex gap-x-3">
                            <span><strong class="font-semibold">My Github: </strong><a class="link text-blue-400 cursor-pointer" target="_blank" href="https://github.com/zapalblizh">Check my Github profile out!</a></span>
                        </li>

                        <li class="flex gap-x-3">
                            <span><strong class="font-semibold">My Linkedin: </strong><a class="link text-blue-400 cursor-pointer" target="_blank" href="https://www.linkedin.com/in/aleksandr-zapparov-7b3202255/">Check my Linkedin profile out!</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
