---
title: Home
description: web-developer, accessibility evangelist, photographer based in hamburg, germany
layout: layouts/base.njk
---

<div>
  <div class="md:flex gap-2">
    <h1 class="thick-heading">
      Frederik Schoenfeldt
    </h1>
    <p class="text-4xl self-end">
      web-developer, accessibility evangelist, photographer
    </p>
  </div>
  {% include 'index/menu.njk' %}
  {% include 'footer.njk' %}
</div>