---
title: Aleksandr Zapparov
description: Yet Another Tailwind Alpine Starter Project for 11ty!
layout: layouts/base.njk
permalink: /
---

<div class="w-full min-h-screen bg-base-200 space-y-2 text-neutral-content" x-init="console.log('Hello from Alpine.js')">
  <div class="py-16">
    <div class="flex justify-center">
      <h1 class="font-bold text-center text-6xl underline underline-offset-auto decoration-wavy">About me</h1>
    </div>
    <div class=" py-32 flex justify-center">
      <p>jherjbakfb</p>
    </div>
  </div>
</div>

{#
  Welcome to my website! My name is Aleksandr Zapparov
  I've finished school earlier than usual which led me to learning programming
  and achieving certificates as well as experience with HTML, CSS, JavaScript
  and learning about how to use some of the JavaScript frameworks such as
  Node.js, React and the latest, Alpine.js. I'm also learning how to create
  static sites by using eleventy, with this project being an example of it.
  I have completed the <a>IBM Full Stack Software Developer Professional Certificate</a>
  and I'm aspiring to complete more certificates as time goes on.
  I'm very interested in chess and complex puzzles apart from programming and
  I hope in the future I will become a computer games programmer or a software engineer.

#}