---
title: Home
description: web-developer/designer, photographer, music-enthusiast based in germany
layout: layouts/base.njk
---

<div>
  <div class="md:flex gap-2">
    <h1 class="thick-heading">
      Frederik Schoenfeldt
    </h1>
    <p class="text-4xl self-end">
      web-developer/designer, photographer, music-enthusiast
    </p>
  </div>
  {% include 'index/menu.njk' %}
</div>