---
title: 🏖️ Vacation/Urlaub 🏖️
layout: layouts/vacation.njk
eleventyExcludeFromCollections: true
---

{% set vacation_image = "src/images/vacation.jpg" | sharp %}
<main class="min-h-screen min-w-screen flex items-center justify-center" 
      :class="{ 'bg-gray-50': $store.vacation.editMode }"
      @submitvacationform="$store.vacation.submitVactionForm">
    <div x-ref="test"></div>
    <template x-if="$store.vacation.editMode">
        {% include "vacation/editModeForm.njk" %}
    </template>
    <template x-if="!$store.vacation.editMode">
        <div class="max-w-xl text-center p-4 space-y-4 relative">
            <h1>👒☀️😎🏝️🏖️🌄🚴‍♀️🚴</h1>
            <img alt="photo of vacation place" src="{% getUrl vacation_image | resize({ width: 600 }) | webp %}"/>

            <h2 class="!mt-2" style="background-image: -webkit-gradient( linear, left top, right top, from(#730D03), color-stop(#667302), to(#BABF15)
                ); background-image: linear-gradient(33deg, #730D03, #667302, #BABF15); -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;">
                <span x-show="$store.vacation.vacationLocation" x-text="`${$store.vacation.vacationLocation} –`"></span>
                <i x-text="$store.vacation.localeDateString($store.vacation.date)"></i>
            </h2>

            <h1
            hidden
            x-text="`Bis Urlaubsbeginn: ${$store.vacation.format($store.vacation.date)}`"
            class="thick-heading text-3xl italic"
            style="background-image: -webkit-gradient( linear, left top, right top, from(#730D03), color-stop(#667302), to(#BABF15)
                ); background-image: linear-gradient(33deg, #730D03, #667302, #BABF15); -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;"></h1>
            <h1
            x-text="$store.vacation.format($store.vacation.date)"
            class="thick-heading text-[25vw] sm:text-9xl"
            style="background-image: -webkit-gradient( linear, left top, right top, from(#730D03), color-stop(#667302), to(#BABF15)
                ); background-image: linear-gradient(33deg, #730D03, #667302, #BABF15); -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;"></h1>

            <button @click="$store.vacation.editMode = true" 
                    class="btn text-sm absolute -bottom-2 right-4"
                    type="button"
                    data-testid="newVacation"
                    label="Eigenen Urlaubstimer setzen">
                    +
            </button>
        </div>
    </template>
</main>