---
title: 🏖️ Vacation/Urlaub 🏖️
layout: layouts/vacation.njk
eleventyExcludeFromCollections: true
---

{% set vacation_image = "src/images/vacation.jpg" | sharp %}
<main class="min-h-screen min-w-screen flex items-center justify-center" 
     @submitvacationform="$store.vacation.submitVactionForm">
    <div x-ref="test"></div>
    <template x-if="$store.vacation.editMode">
        <form @submit.prevent="$dispatch('submitvacationform')" 
              class="max-w-xl space-y-4 border rounded shadow p-4"
              data-testid="vacationForm">
            <h1 class="thick-heading text-3xl pb-4">
                📝 Eigenen Urlaub setzen
            </h1>
            <p>
                Mithilfe dieses Formulars kannst du deinen eigenen Urlaub setzen. Anschließend erhälst du einen Link, den du teilen kannst:
            </p>
            <div class="space-y-2 p-4 bg-gray-100 -m-4 border-y">
                <ol class="list-decimal ml-4 space-y-2">
                    <li>
                        <strong class="block">Urlaubstag auswählen</strong>
                        <label for="date">Urlaubsdatum (erforderlich)</label>
                        <input class="block bg-gray-200 text-xl"
                               type="date"
                               name="date"
                               id="date"
                               x-ref="inputdate"
                               data-testid="vacationDate"
                               required>
                    </li>
                    <li>
                        <strong class="block">Urlaubsort auswählen</strong>
                        <label for="vacationlocation">Urlaubsort (optional)</label>
                        <input class="block bg-gray-200 text-xl"
                               type="text"
                               name="vacationlocation"
                               id="vacationlocation"
                               x-ref="inputvacationlocation"
                               data-testid="vacationLocation">
                    </li>
                    <li class="hidden">
                        <strong class="block">Hintergrundbild auswählen (optional)</strong>
                        <div class="flex space-x-4 bg-amber-50 border p-4 rounded">
                            <div>🔐</div>
                            <div>Dein Hintergrundbild wird nur auf deinem Gerät gespeichert.</div>
                            <input class="block"
                                   type="file"
                                   name="image"
                                   id="image"
                                   accept="image/*"
                                   x-ref="inputimage">
                        </div>
                    </li>
                </ol>
                <button data-testid="submitButton" class="btn btn--lg btn--primary">Speichern</button>
                <template x-if="$store.vacation.generatedLink">
                    <div data-testid="result">
                        Dein Link: 
                        <a :href="$store.vacation.generatedLink" 
                           target="_blank" rel="noopener noreferrer" 
                           x-text="$store.vacation.generatedLink"></a>
                    </div>
                </template>
            </div>
        </form>
    </template>
    <template x-if="!$store.vacation.editMode">
        <div class="max-w-xl text-center p-4 space-y-4 relative">
            <h1>👒☀️😎🏝️🏖️🌄🚴‍♀️🚴</h1>
            <img alt="photo of vacation place" src="{% getUrl vacation_image | resize({ width: 600 }) | webp %}"/>

            <h2 class="!mt-2" style="background-image: -webkit-gradient( linear, left top, right top, from(#730D03), color-stop(#667302), to(#BABF15)
                ); background-image: linear-gradient(33deg, #730D03, #667302, #BABF15); -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;">
                <span x-show="$store.vacation.vacationLocation" x-text="`${$store.vacation.vacationLocation} –`"></span>
                <i x-text="$store.vacation.localeDateString($store.vacation.date)"></i>
            </h2>

            <h1
            hidden
            x-text="`Bis Urlaubsbeginn: ${$store.vacation.format($store.vacation.date)}`"
            class="thick-heading text-3xl italic"
            style="background-image: -webkit-gradient( linear, left top, right top, from(#730D03), color-stop(#667302), to(#BABF15)
                ); background-image: linear-gradient(33deg, #730D03, #667302, #BABF15); -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;"></h1>
            <h1
            x-text="$store.vacation.format($store.vacation.date)"
            class="thick-heading text-[25vw] sm:text-9xl"
            style="background-image: -webkit-gradient( linear, left top, right top, from(#730D03), color-stop(#667302), to(#BABF15)
                ); background-image: linear-gradient(33deg, #730D03, #667302, #BABF15); -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;"></h1>

            <button @click="$store.vacation.editMode = true" 
                    class="btn text-sm absolute -bottom-2 right-4"
                    type="button"
                    data-testid="newVacation"
                    label="Eigenen Urlaubstimer setzen">
                    +
            </button>
        </div>
    </template>
</main>